.movie__card {
  /* border: 1px solid black; */
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}
.movie__card img {
  width: 300px;
  height: 400px;
}
.movie__card span {
  position: absolute;
  padding: 3px;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  top: 5;
}
.movie__card img + p {
  font-weight: bold;
  font-size: 1.1rem;
}
.movie__card button {
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  background-color: blueviolet;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-top: 5px;
}

.movie__card button:hover {
  background-color: rgb(87, 19, 150);
}
